:root {
  --dark: #151515;
  --light-dark: #2f2f2f;
  --middle-dark: #212121;
  --white: #fff;
  --light-white: #fafafa;
  --middle-white: #ececec;
  --accent: #00b5ff;
}

$dark: var(--dark);
$light-dark: var(--light-dark);
$middle-dark: var(--middle-dark);
$white: var(--white);
$light-white: var(--light-white);
$middle-white: var(--middle-white);
$accent: var(--accent);